.hero_container {
    background-color: #232946;
    color: whitesmoke;
}

.hero_container p {
    color: #b8c1ec;
}

.hero_container strong {
    color: #F4B942;

}

.hero_img {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
    border: solid 2px #121629;
    width: 30vw;
    justify-content: flex-end;
}

.hero_content h2 {
    font-weight: 600;
    line-height: 55px;
}