.hero_content h2{
    font-weight: 600;
    line-height: 55px;
}

.hero_content{
    padding-top: 80px;
}

.searchButton{
    background: #293241;
    color: #e0fbfc;
    padding: 7px 15px;
    border-radius: 50px;
    border: none; 
    cursor: pointer; 
}

.search input{
    border: none;
    outline: none;
    padding: 7px 10%;
}

.search{
    width: 50%;
    border: 1px solid #293241;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
}